@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-LightBETA.woff);
    font-weight: 300;
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-Regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-SemiBold.woff);
    font-weight: 600;
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-Bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Light.woff);
    font-weight: 300;
}
@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: 'PlayFairDisplay';
    src: url(/fonts/PlayfairDisplay-Bold.woff);
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
}
.wrap {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 190px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 43px 0 80px 0;
}
.navigation-bar {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    gap: 34px;
}
.navigation1 {
    list-style-type: none;
    display: inline-block;
    margin-left: 34px; 
}
.navigation1 a {
    text-decoration: none;
    color: #B8BECD;
}
.navigation1-black {
    list-style-type: none;
    display: inline;
    margin-left: 34px;
    font-weight: 500;
    font-size: 16px;
}
.navigation1-black a {
    text-decoration: none;
    color: #202336
}
.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}
.button-white {
    color: #FB8F1D;
    background-color: white;
    width: 132px;
    height: 44px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
}
.button-orange1 {
    color: white;
    background-color: #FB8F1D;
    width: 132px;
    height: 44px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
}
.button-orange1:hover {
    transform: scale(1.1);
}
.button-white:hover {
    transform: scale(1.1);
}
.page1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 0 286px 0;
    position: relative;
}
.page1 h1 {
    color: #202336;
    font-family: 'PlayfairDisplay';
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    padding: 0 0 74px 0;
}
.page1 h2 {
    color: #202336;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    padding: 0 0 20px 0;
}
.page1 h1::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/krest.jpg);
    position: absolute;
    left: 454px;
    top: 56px;
}
.stroke {
    width: 32px;
    height: 2px;
    left: 191px;
    background: #202336;
    border-radius: 4px;
}
.stroke::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    left: -85px;
    top: 330px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 48px 0 50px 0;
}
select {
    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    margin: 0 20px 20px 0;
}
.button-orange2 {
    color: white;
    background-color: #FB8F1D;
    width: 180px;
    height: 52px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 17px;
}
.button-orange2:hover {
    transform: scale(1.1);
}
.right-side1 {
    margin-left: 147px;
}
.right-side1::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    left: 580px;
    top: 640px;
}
.page2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 102px;
    padding: 0 0 290px 0;
    position: relative;
}
.page2 h2 {
    color: black;
    font-family: 'PlayfairDisplay';
    font-weight: 700;
    font-size: 36px;
    padding: 0 0 20px 0;
}
.page2 h2::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/krest.jpg);
    position: absolute;
    top: 0px;
    left: 670px;
}
.page2 p {
    color: #7D7987;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    padding: 0 0 33px 0;
}
.page2 p::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    right: 150px;
    top: 350px;
}
.button-orange3 {
    color: white;
    background-color: #FB8F1D;
    width: 164px;
    height: 48px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
}
.button-orange3:hover {
    transform: scale(1.1);
}
.page3 {
    position: relative;
}
.page3-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page3-top h2 {
    font-family: 'PlayfairDisplay';
    font-weight: 700;
    font-size: 36px;
    padding: 0 560px 50px 0;
}
.page3-top h2::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    top: 10px;
    right: 200px;
}
.page3-top h2::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/krest.jpg);
    position: absolute;
    top: 300px;
    left: -100px;
}
.page3-top span {
    color: #FB8F1D;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}
.page3-top span::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    top: 470px;
    left:550px;
}
.page3-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 0 230px 0;
}
.item-img img {
    border-radius: 8px;
}
.item-img {
    position: relative;
    cursor: pointer;
}
.intro {
    bottom: 1%;
    position: absolute;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
    padding: 11px 22px 0 0;
}
.page3-container h2 {
    color: #042521;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
}
.page3-container p {
    color: #80918E;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
}
.page4 {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 0 0 248px 0;
}
.page4 {
    position: relative;
}
.page4 h2 {
    color: black;
    font-family: 'PlayFairDisplay';
    font-weight: 700;
    font-size: 36px;
    Line-height: 50px;
    width: 400px;
    height: 100px;
}
.page4 h2::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    top: 80px;
    left: 30px;
}
.page4 h2::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/krest.jpg);
    position: absolute;
    top: 0px;
    right: -50px;
}
.page4 p {
    color: #7D7987;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    padding: 20px 80px 33px 0;
}
.page4 p::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/krest.jpg);
    position: absolute;
    top: 400px;
    left: 400px;
}
.button-orange4 { 
    color: white;
    background-color: #FB8F1D;
    width: 164px;
    height: 48px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
}
.button-orange4:hover {
    transform: scale(1.1);
}
.page4 img {
    padding: 0 0 0 49px;
}
.page5 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
}
 .page5-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 184px;
}
.page5 h2 {
    font-family: 'PlayFairDisplay';
    font-weight: 700;
    font-size: 36px;
}
.page5 h2::after {
    content: "";
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/element2\ \(1\).jpg);
    position: absolute;
    right: 115px;
    top: 150px;
}
.page5 h2::before {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    background: url(../img/element3.jpg);
    position: absolute;
    right: 502px;
    top: 644px;
}
.head-testimonials {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 60px 0;
}
.p1 {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding: 30px 0 40px 0;
}
.page5 .p1::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    left: -150px;
    top: 400px;
}
.img-star {
    display: flex;
    justify-content:left;
    gap: 16px;
}
.p2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    padding: 0 0 10px 0;
}
.p3 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
}
.img8 {
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-start;
    position: relative;
    border-radius: 14px;
    background-size: cover;
    width: 384px;
    height: 491px;
}
.img8.img-photo {
    background-image: url(../img/8.jpg);
}
.strelki {
    display: flex;
    background: #FFFFFF;
    border-radius: 16px 0px 0px 0px;
    width: 132px;
    height: 60px;
    align-self: flex-end;
    justify-content: space-between;
    padding: 20px 0 0 30px;
    cursor: pointer;
}
.page6 {
    padding: 285px 0 270px 0;
    position: relative;
}
.page6-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 54px 0;
}
.page6 h2 {
    font-family: 'PlayFairDisplay';
    font-weight: 700;
    font-size: 36px;
    Line-height: 50px;
    padding: 0 0 22px 0;
}
.page6 h2::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/krest.jpg);
    position: absolute;
    top: 220px;
    left: 480px;
}
.page6-top span {
    color: #FB8F1D;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}
.story {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.page6-stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.page6 img {
    height: 280px;
    width: 280px;
    border-radius: 10px 10px 0 0;
}
.page6 h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    padding: 15px 0 10px 0;
}
.page6 h3::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    top: 720px;
    left: -150px;
}
.page6 h2::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/circle.jpg);
    position: absolute;
    top: 960px;
    right: 380px;
}
.page6 p {
    color: #7D7987;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 0 20px 23px 0;
}
.page6 p + p {
    color: #FB8F1D;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px; 
    cursor: pointer;
}
.footer {
    background-color: #F9F9FB;
    height: 482px;
}
.footer-navigation {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 0 20px 0;
}
.footer-list {
    list-style-type: none;
}
.footer-list a {
    text-decoration: none;
}
.navigation2-black {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 19px;
    padding: 70px 0 30px 0;
}
.navigation2-black a {
    color: black;
}
.navigation2 a {
    color: #848484;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
}
.footer-inf {
    color: #848484;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    padding: 26px 0 55px 0;
}
.footer-tm {
    color: #848484;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
}
.footer img {
    height: 41px;
    width: 41px;
}
footer li {
    padding: 0 0 20px 0;
}
.footer-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 390px;
    padding: 80px 0 80px 0;
}
.footer-inner {
    display: flex;
    gap: 108px;
}
.line {
    width: 1220px;
    height: 2px;
    background: #c4c4c4;
    border-radius: 4px;
}
.social-media img {
    width: 250px;
    height: 24px;
}
.social-media {
    padding: 30px 708px 30px 450px;
    cursor: pointer;
}
